@model KintaiAuto.ViewModel.KintaiView
@{
    ViewData["Title"] = "Home Page";

}

<div class="text-center">
    <h1 class="display-4">勤怠経費連動</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
    <div class="col-12">
        @using (Html.BeginForm("serch", "Index"))
        {
        <p id="YearMonth">年月</p>
        <input type="date" />
        <button type="submit">取得</button>
        }
        <table class="table table-sm">
            <thead>
                <tr>
                    <th>日付</th>
                    <th>開始</th>
                    <th>終了</th>
                    <th>休憩開始</th>
                    <th>休憩終了</th>
                    <th>パターン</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Kintais)
                {
                <tr>
                    <td>@item.StrTime</td>
                    <td>@item.EndTime</td>
                    <td>@item.KyuStrTime</td>
                    <td>@item.KyuEndTime</td>
                    <td>@item.RakuPtn</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
