@model KintaiAuto.ViewModel.KintaiView
@{
    ViewData["Title"] = "勤怠経費連動";

}

<div class="text-center">
    <h1 class="display-4">勤怠経費連動</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
<div class="col-12">
    @if(ViewData["Message"] != null)
    {
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @(ViewData["Message"])
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>    
    }

    @using (Html.BeginForm("serch", "Home"))
        {
    <button type="submit" class="btn btn-primary">再取得</button>
        }

    @using (Html.BeginForm("Update", "Home"))
        {
    <table class="table table-sm table-responsive-sm table-striped">
        <thead>
            <tr>
                <th>日付</th>
                <th>開始</th>
                <th>終了</th>
                <th>休憩開始</th>
                <th>休憩終了</th>
                <th>パターン</th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.Kintais.Count(); i++)
                    {
            <tr>
                <td>
                    @(Model.Kintais[i].Date.ToString("d"))
                    @Html.HiddenFor(model => model.Kintais[i].Date)
                    @Html.HiddenFor(model => model.Kintais[i].Rakutrue)
                </td>
                <td>
                    @Html.EditorFor(model => model.Kintais[i].StrTime, new { })
                    @Html.HiddenFor(model => model.Kintais[i].strID, new { })
                </td>
                <td>
                    @Html.EditorFor(model => model.Kintais[i].EndTime, new { })
                    @Html.HiddenFor(model => model.Kintais[i].endID, new { })
                </td>
                <td>
                    @Html.EditorFor(model => model.Kintais[i].KyuStrTime, new { })
                </td>
                <td>
                    @Html.EditorFor(model => model.Kintais[i].KyuEndTime, new { })
                </td>
                <td>
                    @if (Model.Kintais[i].Rakutrue == false)
                                {
                    @Html.DropDownListFor(model => model.Kintais[i].RakuPtn, null, "", new { @class = "form-control", @style = "width:160px; padding: 6px 6px;", disabled = "true" })
                                }
                                else
                                {
                    @Html.DropDownListFor(model => model.Kintais[i].RakuPtn, null, "", new { @class = "form-control", @style = "width:160px; padding: 6px 6px;" })
                                }
                </td>
            </tr>
                    }
        </tbody>
    </table>
    <div style="text-align:right;">
        <button type="submit" class="btn btn-success">反映</button>
    </div>
        }
</div>
</div>
